// Base colors
$base-color: rgba(28, 46, 54, 1);
$base-color-50: rgba(28, 46, 54, 0.50);
$base-color-25: rgba(28, 46, 54, 0.25);
$base-color-10: rgba(28, 46, 54, 0.10);
$base-color-05: rgba(28, 46, 54, 0.05);

// Brand colors
$brand-color: rgba(23, 109, 173, 1);
$brand-color-50: rgba(0, 135, 217, 0.50);
$brand-color-25: rgba(0, 135, 217, 0.25);

// Complementary colors
// $accent-color: ;
// $accent-color-50: ;

// Black colors
$black: #000000;
$black-50: rgba(#000000, 0.50);
$black-25: rgba(#000000, 0.25);
$black-10: rgba(#000000, 0.10);
$black-5: rgba(#000000, 0.05);
