html, body {
    height: 100%;
}

html {
    min-height: 100%;
    font-size: 100%;
    position: relative;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    padding: 0;
    color: $base-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-regular;
    line-height: $base-line-height;
    background-color: $base-color-10;
}

// Links
a {
    color: $base-color;
    text-decoration: underline;

    @include transition($default);

    &:hover, &:focus {
        color: $brand-color;
    }
}

// Typography
h1, h2, h3, h4, h5, h6 {
    margin-top: em(20px);
    margin-bottom: em(5em);
    font-family: $header-font-family;
    font-weight: $header-font-weight;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: em(36px);
}

h2 {
    font-size: em(30px);
}

h3 {
    font-size: em(24px);
}

h4 {
    font-size: em(18px);
}

h5 {
    font-size: em(14px);
}

h6 {
    font-size: em(12px);
}

p {
    margin-bottom: em(15px);
}

small {
    font-size: 80%;
}

pre {
    padding: em(40px) em(40px) 0 em(40px);
    border: 1px solid $base-color-10;
    border-radius: 0;
    // background-color: transparent;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: $screen-sm-min) {
    small {
        font-size: 85%;
    }
}

@media (min-width: $screen-xl-min) {
    body {
        font-size: $base-font-size-large;
    }
}
