.btn {
    padding: em(10px) em(15px) em(6px) em(15px);
    font-family: $header-font-family;
    font-weight: $header-bold;
    text-decoration: none;
    letter-spacing: 1px;
    border-width: 2px;
    border-radius: 0;
    background-color: transparent;

    @include transition($default);

    &.btn-default {
        color: $brand-color;
        text-transform: uppercase;
        border-color: $brand-color;

        &:hover, &:focus {
            color: #fff;
            background-color: $brand-color;
        }
    }

    &.btn-s {
        padding: em(10px) em(15px) em(6px) em(15px);
        color: $base-color;
        font-size: em(10px);
        font-weight: $header-regular;
        text-transform: uppercase;
        // border-width: 1px;
        border-color: $base-color;

        &:hover, &:focus {
            color: #fff;
            background-color: $base-color;
        }
    }

    &.btn-lg {
        padding: em(10px) em(25px);
        margin: 0 auto;
        float: none;
        font-size: em(18px);
    }

    &.btn-search {
        margin-left: 0;
        color: $brand-color;
        border-color: $brand-color;

        &:hover, &:focus {
            color: #fff;
            border-color: $brand-color;
        }
    }

    &.btn-well {
        width: $header-sm-height;
        height: $header-sm-height;
        padding: 0;
        margin-right: 0;
        border-width: 0;
        position: absolute;
        top: 0; right: 0;
        border-left: 1px solid $base-color-10;

        // svg {
        //     width: 24px;
        //     height: 24px;
        //     fill: #fff;
        // }

        &.collapsed::before, &::before {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            background-color: #fff;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url('../images/svg/icon-search.svg');
            background-size: 24px 24px;
            content: ' ';

            @include bg-color($default);
        }

        &::before {
            background-color: $base-color;
            background-image: url('../images/svg/icon-close-white.svg');
            background-size: 24px 24px;
        }

        &.collapsed:hover::before, &.collapsed:focus::before {
            background-color: $base-color;
            background-image: url('../images/svg/icon-search-white.svg');
        }
    }
}

.navbar-default {
    border-color: transparent;

    .navbar-toggle {
        width: auto;
        height: $header-sm-height;
        margin: 0 em(75px) 0 0;
        padding: 0 em(20px);
        text-align: center;
        border: none;
        border-radius: 0;
        background-color: #fff;

        @include transition($default);

        &:hover .navbar-menu, &:focus .navbar-menu {
            color: #fff;
        }

        .navbar-menu {
            text-transform: uppercase;
            position: relative;;

            @include transition($default);
        }

        .icon-bar {
            width: 24px;
            height: 1px;
            margin-left: auto;
            margin-right: auto;
            background-color: $base-color;

            @include transition($default);
        }

        .icon-bar:not(:last-child) {
            margin-bottom: 5px;
        }

            &:hover .icon-bar, &:focus .icon-bar {
                background-color: #fff;
            }

        &.collapsed {
            // background-color: $brand-color;
        }

        &:hover, &:focus {
            background-color: $base-color;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .btn {
        padding: em(10px) em(40px) em(6px) em(40px);
        font-size: 1rem;

        &.btn-s {
            padding: em(10px) em(20px) em(6px) em(20px);
        }

        &.btn-lg {
            //padding: em(15px) em(40px);
            //font-size: em(22px);
        }

        &.btn-well {
            width: $header-lg-height;
            height: $header-lg-height;
        }
    }

    .navbar-default {
        .navbar-toggle {
            // width: $header-lg-height;
            height: $header-lg-height;
            padding: 0 em(30px) 0 em(80px);
            margin: 0 $header-lg-height 0 0;

            .navbar-menu {
                position: absolute;
                left: em(30px);
            }

            .icon-bar {
                width: 36px;
            }

            .icon-bar:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}
