.meta {
    display: inline-flex;
    vertical-align: top;
    text-align: center;
    line-height: 0;

    .meta-entry {
        margin-top: em(10px);

        .author-tag {
            position: relative;
            display: inline-block;

            &::before {
              width: 16px;
              height: 16px;
              position: absolute;
              top: 0; left: -26px;
              content: ' ';
              background-position: left top;
              background-repeat: no-repeat;
              background-image: url('../images/svg/icon-author.svg');
              background-size: 100%;
            }
        }

        .author-profile-pic {
            width: 100%;
            margin: 0 auto;
            display: inline-block;

            img {
              width: 96px;
              height: 96px;
              margin: 0 0 em(10px) 0;
              border-radius: 50%;
              border: 2px solid white;
            }
        }
    }

    small {
        color: $base-color;
        font-family: $fixed-font-family;
        font-size: $fixed-font-size;
        text-transform: $fixed-text-transform;
        letter-spacing: $fixed-letter-spacing;
        line-height: em(24px);

        .category {
            padding: 0 0 0 em(37px);
            margin: 0 auto;
            text-align: left;
            display: inline-block;
            position: relative;

            &::before {
              width: 16px;
              height: 16px;
              position: absolute;
              top: 0; left: 0;
              content: ' ';
              background-position: left top;
              background-repeat: no-repeat;
              background-image: url('../images/svg/icon-tag.svg');
              background-size: 100%;
            }
        }
    }
}

.grid-item {
    .meta {
        margin: 0;
        text-align: left;
        display: block;

        .category {
            text-align: left;
        }
    }
}
