// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// List category
.cat-list {
    padding: 0;
    // margin-top: $header-sm-height / 2;
    margin-bottom: $header-sm-height / 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;

    li {
        margin: 0 5px 10px 36px;
        display: inline-flex;
        position: relative;

        a {
            @extend .btn;
            @extend .btn-s;
        }

        &.cat-item {

            &::before {
                width: 31px;
                height: auto;
                position: absolute;
                top: 0; bottom: 0; left: -31px;
                content: '';
                border-top: 2px solid $base-color;
                border-bottom: 2px solid $base-color;
                border-left: 2px solid $base-color;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 14px 14px;
            }
        }

        &.cat-item-43 {
            &::before {
                background-image: url('../images/svg/icon-fish.svg');
            }
        }

        &.cat-item-44 {
            &::before {
                background-image: url('../images/svg/icon-real-estate.svg');
            }
        }

        &.cat-item-45 {
            &::before {
                background-image: url('../images/svg/icon-energy.svg');
            }
        }

        &.cat-item-46 {
            &::before {
                background-image: url('../images/svg/icon-tmt.svg');
            }
        }

        &.cat-item-58 {
            &::before {
                background-image: url('../images/svg/icon-health.svg');
            }
        }
    }
}

// Media alignment
.entry-content img {
    margin: 0 0 1.5em;
}

.alignleft,
img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
}

.alignright,
img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
}

.aligncenter,
img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}

.alignnone,
img.alignnone {
  /* not sure about this one */
}

// Blockqoute
blockquote {
    color: $base-color-75;
    font-size: 1.250rem;
    border-left-color: $accent-color;
}

// Thumbnails & captions
.thumbnail, .wp-caption {
    padding: 0;
    margin-bottom: em(20px);
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.wp-caption {
    font-size: 1rem;
    line-height: 1;
    border-bottom: 1px solid $base-color-50;

    .wp-caption-text {
        padding: 0;
        color: $base-color-50;
        font-family: $fixed-font-family;
    }
}

// Other
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}

@media (min-width: $screen-sm-min) {
    // List category
    .cat-list {
        // margin-top: $header-lg-height / 2;
        margin-bottom: $header-lg-height / 2;

        li {
            margin: 0 10px 20px 52px;

            &.cat-item {

                &::before {
                    width: 42px;
                    left: -42px;
                    background-size: 20px 20px;
                }
            }
        }
    }

    // Only float if not on an extra small device
    .alignleft {
        float: left;
        margin-right: ($line-height-computed / 2);
    }

    .alignright {
        float: right;
        margin-left: ($line-height-computed / 2);
    }
}

// Captions
.wp-caption {
    @extend .thumbnail;
}

.wp-caption-text {
    padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
    @extend .sr-only;
    @extend .sr-only-focusable;
}
