.footer {
    width: 100%;
    padding: em(30px) 0 em(20px) 0;
    margin-top: $header-sm-height / 2;
    text-align: center;
    color: #fff;
    font-size: em(12px);
    font-family: $header-font-family;
    font-weight: $header-regular;
    background-color: $base-color;

    a {
        color: #fff;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    p.text-muted {
        margin: 0;
        color: #fff;
    }
}

@media (min-width: $screen-sm-min) {
    .footer {
        margin-top: $header-lg-height / 2;

        p.text-muted {
            text-align: left;
        }

        .to-top {
            text-align: right;
        }
    }
}
