.jumbo-wrapper {
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;

    .arrow-down {
        width: $header-sm-height;
        height: $header-sm-height;
        margin-left: -$header-sm-height / 2;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0; left: 50%;

        svg {
            width: 18px;
            height: 9.6px;
            margin: 0 auto;
            fill: rgba(255, 255, 255, 0.5);

            @include transition($default);
        }

        &:hover , &:focus {
            svg {
                margin-top: em(10px);
                fill: rgba(255, 255, 255, 1);
            }
        }
    }

    .jumbotron {
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        border-radius: 0;
        background-color: $brand-color-50;

        .content {
            padding: em(20px) em(20px) em(40px);
            text-align: center;
            color: #fff;

            &::before {
                width: 275px;
                height: 1px;
                margin-left: -137.5px;
                content: '';
                position: absolute;
                top: 0; left: 50%;
                background-color: rgba(255, 255, 255, 0.5);
            }
        }

        // .content {
        //     padding: em(20px) 0 em(20px) em(10px);
        //     margin-top: em(20px);
        //     text-align: center;
        //     color: #fff;
        //     border-left: 1px solid $brand-color;
        // }

        .btn-lg-wrapper {
            width: 100%;
            text-align: center;
            position: relative;
        }

        .btn-lg {
            margin-top: -1px;
            color: rgba(255, 255, 255, 0.5);
            font-size: em(16px);
            border-color: rgba(255, 255, 255, 0.5);

            &::before, &::after {
                width: 50px;
                height: 1px;
                margin-top: -1px;
                position: absolute;
                top: 50%;
                content: '';
                background-color: rgba(255, 255, 255, 0.5);
            }

            &::before {
                margin-right: 88px;
                right: 50%;
            }

            &::after {
                margin-left: 88px;
                left: 50%;
            }

            &:hover, &:focus {
                color: $brand-color;
                background-color: #fff;
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .jumbo-wrapper {
        .jumbotron {
            .content {
                &::before {
                    width: 610px;
                    margin-left: -305px;
                }
            }

            .btn-lg {
                &::before, &::after {
                    width: 200px;
                }

                &::before {
                    margin-right: 105px;
                }

                &::after {
                    margin-left: 105px;
                }
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .jumbo-wrapper {
        height: 75%;

        .jumbotron {
            .content {
                padding: em(40px) em(20px) em(60px);
            }            

            h1 {
                font-size: em(36px);
            }
        }
    }
}

@media (min-width: $screen-lg-min) {
    .jumbo-wrapper {
        .jumbotron {
            h1 {
                // font-size: em(50px);
                font-size: 3.75vw;
            }
        }
    }
}
