.section-title {
    margin-top: $header-sm-height;
    margin-bottom: $header-sm-height / 2;
    font-size: 1rem;

    &.page {
        margin-top: $header-sm-height * 2;
    }
}

@media (min-width: $screen-sm-min) {
    .section-title {
        margin-top: $header-lg-height;
        margin-bottom: $header-lg-height / 2;
        font-size: 1.125rem;

        &.page {
            margin-top: $header-lg-height * 2;
        }
    }
}
