.post {
  .container {
    margin-top: em(30px);
  }

    .entry-title {
        &::after {
            width: 200px;
            height: 4px;
            margin-left: -100px;
            content: '';
            position: absolute;
            bottom: em(-27px); left: 50%;
            background-color: $brand-color;
        }
    }

    .entry-ingress {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $header-sm-height - 5px;
        color: $base-color;
        text-align: center;
        font-size: 1.250rem;
        font-weight: $base-bold;
        position: relative;

        &::after {
            width: 200px;
            height: 4px;
            margin-left: -100px;
            content: '';
            position: absolute;
            bottom: em(-20px); left: 50%;
            background-color: $brand-color;
        }
    }

    .entry-content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        // &::first-letter {
        //     padding-top: 4px;
        //     padding-right: 4px;
        //     padding-left: 0;
        //     font-size: 4rem;
        //     line-height: .75;
        //     float: left;
        // }

        img {
            &.size-large, &.size-full {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
    }

    .thumbnail > img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: $screen-sm-min) {
    .post {
        .entry-ingress {
            margin-bottom: $header-lg-height - 30px;
            font-size: 1.5rem;

            &::after {
                bottom: em(-25px);
            }
        }

        .entry-content {
            width: 80%;
        }
    }
}

@media (min-width: $screen-lg-min) {
    .post {
        .entry-ingress {
            width: 75%;
        }

        .entry-content {
            width: 75%;
        }
    }
}
