.post {
    .entry-ingress {
        width: 90%;
        // padding-bottom: $header-sm-height;
        margin-top: $header-sm-height * 1.5;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $header-sm-height;
        color: $base-color;
        text-align: center;
        font-size: 1.250rem;
        font-weight: $base-bold;
        position: relative;
        // border-bottom: 1px solid $base-color-25;

        &::after {
            width: 200px;
            height: 4px;
            margin-left: -100px;
            content: '';
            position: absolute;
            bottom: em(-25px); left: 50%;
            background-color: $brand-color;
        }
    }

    .entry-content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &::first-letter {
            padding-top: 4px;
            padding-right: 4px;
            padding-left: 0;
            font-size: 4rem;
            line-height: .75;
            float: left;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .post {
        .entry-ingress {
            margin-top: $header-lg-height * 1.5;
            margin-bottom: $header-lg-height;
            font-size: 1.5rem;

            &::after {
                bottom: em(-30px);
            }
        }

        .entry-content {
            width: 80%
        }
    }
}

@media (min-width: $screen-md-min) {
    .post {
        .entry-ingress {
            width: 60%;
        }

        .entry-content {
            width: 60%
        }
    }
}
