.search {
  article {
    padding-bottom: em(10px);
    border-bottom: 1px solid $base-color-50;
  }

  h2 {
    a {
      text-decoration: none;
    }
  }

  .meta {
    small {
      margin-bottom: em(20px);

      .category {
        text-align: left;
      }

      .meta-entry {
        display: none;
      }
    }
  }
}
